body {
  margin: 0;
  border: 0;
  padding: 0;

  font-family: sans-serif;
}

@media screen {
  body {
    font-size: 30pt;
  }
  body>div {
    padding: 10px 50px 10px 50px;
  }
  
  #intro {
    background-color: #abf;
  }
  
  #demo {
    background-color: #bfa;
  }
  
  #questions {
    background-color: #fab;
  }
}


h1 {
  text-align: center;
  font-size: 280%;
}

h2 {
  text-align: center;
  font-size: 230%;
  margin: 55px 0;
}



#demo div {
  margin: 0 0 15px;
  text-align: center;
}
#demo div>span+span {
  display: inline-block;
  width: 450px;
}
#demo div>span>span {
  /*width: 2em; Too wide. */
  display: inline-block;
  padding: 0 5px;
  border: 3px solid #bfa;
  border-radius: 0.4em;
}
#demo .pivot {
  text-decoration: underline;
  font-weight: bold;
}
#demo .fixed {
  border: 3px solid black;
  border-radius: 0.4em;
}

#questions>ol>li {
  padding: 0.5em 0;
}
#questions ol ol {
  list-style-type: lower-latin;
}

#answers {
  text-align: center;
}
#answers img {
  max-width: 90%;
}

#footer {
  padding-top: 20px;
  text-align: center;
  background-color: gray;
  font-size: x-small;
}
#footer img {
  padding: 10px 0;
}
@media print {
  #footer [href*=w3] {
    display: none;
  }
}
